<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7329a266-e5f5-4070-ba19-4d3e761662e7/resourceGroups/AzureDemo/providers/Microsoft.Web/sites/codeWithShani</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://codewithshani-eqgjgqhwduddd6hc.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>b54a9302-2127-4b47-a685-30ea9cfcc10e</ProjectGuid>
    <PublishUrl>https://codewithshani-eqgjgqhwduddd6hc.scm.westeurope-01.azurewebsites.net/</PublishUrl>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>